.lst-heroes {
  display: grid;
  margin: 20px;
  gap: 1rem;
  /* grid-auto-rows: 22rem; */
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 2fr));
  
}

img {
  max-height: 500px;
  width: 100%;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
